body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: larger;

}

h2 {
    text-align: center;
    color: #1c1f1e;
    font-size: 2rem;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 50rem;
    padding: 10px;
    background-color: #00b6c4;
    border-radius: 20px 30px;
}

input[type="text"],
input[type="email"],
input[type="radio"],
input[type="button"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

input[type="button"]:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
.der{
  display: flex;
  margin-left: 60px;
}
.gen{
    display: flex;
}
.hell{
    margin-left: 50px;
}